[submodule "lib/libsylverant"]
	path = lib/libsylverant
	url = https://github.com/isage/sylverant-libsylverant
[submodule "lib/libpsoarchive"]
	path = lib/libpsoarchive
	url = https://github.com/isage/sylverant-libpsoarchive
[submodule "lib/libmini18n"]
	path = lib/libmini18n
	url = https://github.com/isage/sylverant-mini18n
